
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    background-color: rgb(193, 238, 238);
    font-family: 'Montserrat', sans-serif;
}


h1{
    text-align: center;
}
.boton{
    color:rgb(255, 254, 254);
    background-color:rgb(255, 13, 0);
    border-radius: 7%;
    font-size: xx-large;
    text-align: center;
   
}
#contenedor{
    width: 800px;
    height: 450px;
    position: absolute;
    inset: 0;
    margin: auto;
    text-align: center;
    background-color: blueviolet;
    border-radius: 4%;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}
#calculadora{
    
    float: left;
    background-color: rgb(221, 121, 75);
    width: 50%;
    height: 100%;
    margin: auto;
}
#detalle{
    float: left;
    text-align: left;
    background-color: rgb(236, 136, 191);
    width: 50%;
    height: 100%;
    margin: auto;
}
.contenido{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
    
}
#base{
    background-color: white;
    display: none;
    width: 300px;
    border-radius: 4%;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}
